<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div 
        fxFlex="25%"
        fxFlex.xs="100%"
        fxFlex.sm="33%" *ngFor="let r of favoritedMeals; let i = index">
            <mat-card class="mat-elevation-z4" style="background-color: aliceblue;">
            <!-- <mat-card-header>
                <mat-card-title>{{r.title}}</mat-card-title>
            </mat-card-header> -->
          <img mat-card-image src="{{r.image}}"/>
          <mat-card-content>
            <p>{{r.title}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="selectRecipe(r)"
            style= "background-color:blue; color:white"> View Recipe </button>
            <button mat-button (click)="removeFavorite(i)"
            style= "background-color:rgb(203, 0, 0); color:white"> Remove from favorites </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
</div>
