
<div class="radio-toolbar">
  <input type="radio" id="meal" name="meal" value="meal" [(ngModel)]="selectedSearch">
  <label for="meal">Search By Meal</label>
  <input type="radio" id="cuisine" name="meal" value="cuisine" [(ngModel)]="selectedSearch">
  <label for="cuisine">Search By Cuisine</label>
</div>

<div *ngIf="selectedSearch != ''">
  <p>Select a target ready time. Default is 30 minutes.</p>
  <select [(ngModel)]="newValue">
    <option *ngFor="let t of timeOptions">{{t}}</option>
  </select>
  <button (click)="setTime(newValue)">Change</button>
</div>

<div *ngIf="selectedSearch == 'meal'">
  <p>Search the name of a meal</p>
  <input type="text" [(ngModel)]="query"/>
  <button (click)="getMealsByQuery()">Search</button>
</div>
<div *ngIf="selectedSearch == 'cuisine'">
  <p>Select a cuisine to choose from</p>
  <input type="text" [(ngModel)]="query"/>
  <button (click)="getMealsByCuisine()">Search</button>
</div>


<!-- DO LATER. Pull down 100 results from the api and store it in the database -->
<!-- Display random 12 from the database -->
<!-- <p>{{resultQty}}</p>
<button (click)="randomizeMeal()">Randomize Meals</button> -->



<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="100px grid">
    <div
      fxFlex="25%"
      fxFlex.xs="100%"  
      fxFlex.sm="33%" *ngFor="let r of resultsList">
          <mat-card class="mat-elevation-z4" style="background-color: aliceblue;">
          <img mat-card-image src="{{r.image}}"/>
          <mat-card-content>
          <p>{{r.title}}</p>
        </mat-card-content>
        <mat-card-actions>
          <span style="margin-left:auto; margin-right:10px">
            <button mat-raised-button (click)="selectRecipe(r)"
            class="buttons" style= "background-color:blue; color:white"> View Recipe </button>
          </span>
          <span style="margin-left:10px; margin-right:auto">
            <button mat-raised-button (click)="favoriteRecipe(r)" *ngIf="!checkFavorite(r.primary_key_id)"
            class="buttons" style= "background-color:green; color:white"> Save For Later </button>
            <p *ngIf="checkFavorite(r.primary_key_id)" style="margin:0px">⭐</p>
          </span>
          </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

