<div *ngIf="currentShoppingList.length > 0">
  <div class="table-container" style="background-color: white;">
    <div class="table-horizontal-container">
      <form>
        <table class="unfixed-table">
          <tbody>
            <tr *ngFor="let c of currentShoppingList; let i=index" style="background-color: white; text-align: left;">
              <th>{{c}}</th>
            <span *ngFor="let data of krogerSearchResults[i]; let j=index">
              <input type="checkbox" id="{{data.productId}}">
              <span *ngFor="let image of data.images">
                <span *ngFor="let individual of image.sizes">
                  <td *ngIf="individual.size == 'thumbnail' && image.perspective == 'front'">

                    <img src="{{individual.url}}">

                  </td>
                </span>
              </span>
              <td>{{data.brand}}</td>
              <td *ngFor="let item of data.items">{{item.price.regular}}</td>
              <td>{{data.description}}</td>
              <br>
            </span>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

<br/><br/>
<span>
  <button (click)="goToRecipe()" style="margin-right: 10px">Return to recipe</button>
  <button (click)="addToCart()" style="margin:auto">Add to cart</button>
  <button (click)="cartTotal = 0" style="margin-left:10px">Clear Shopping Cart</button>
</span>
<br/>

<h4 *ngIf="cartTotal != 0;">These items will cost: ${{cartTotal}}</h4>

<div class="rowMap" style="text-align: center;">
  <div>
  </div>
  <div class="columnMap" style="text-align:left; margin-left: 10%; margin-bottom: 8%;">
    <h2>Starting location: Holmes Hall</h2>
    <h2>919 E Shaw Ln, East Lansing, MI 48825</h2>
    <google-map 
      height="750px" 
      width="1000px" 
      [center]="center"
      [zoom]="zoom"
      [options]="mapOptions"
    >

      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
      ></map-marker>
    </google-map>
    
  </div>
  <div class="columnMap" style="margin-right: 10%;">
    <div>
      <h3>Nearby Kroger Locations:</h3>
        <div *ngFor="let l of KrogerLocations.data; let i = index">
          <ul>
            <li style="margin-left:20%; text-align: left;">
              <p>Location name: {{l.name}}</p>
              <p>Address: {{l.address.addressLine1}}</p>
              <p>Phone: {{l.phone}}</p>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
