<!-- Navigation menu -->
<div class="radio-toolbar">
  <input type="radio" id="meal" name="meal" value="meal" [(ngModel)]="mealSelectionData.selectedSearch">
  <label for="meal">Search By Meal</label>
  <input type="radio" id="cuisine" name="meal" value="cuisine" [(ngModel)]="mealSelectionData.selectedSearch">
  <label for="cuisine">Search By Cuisine</label>

<!-- Selection radio buttons -->
<div *ngIf="mealSelectionData.selectedSearch != null">
  <p>Select a target ready time.</p>
  <select [(ngModel)]="mealSelectionData.time" (change)="getMealsByQuery()">
    <option *ngFor="let t of timeOptions">{{t}}</option>
  </select>
</div>

<div *ngIf="mealSelectionData.selectedSearch == 'meal'">
  <p>Search the name of a meal or ingredient</p>
  <input type="text" [(ngModel)]="mealSelectionData.query"/>
  <button (click)="getMealsByQuery()">Search</button>
</div>

<div *ngIf="mealSelectionData.selectedSearch == 'cuisine'">
  <p>Select a cuisine to choose from</p>
  <select [(ngModel)]="mealSelectionData.query" (change)="getMealsByCuisine()">
    <option *ngFor="let c of cuisineOptions">{{c}}</option>
  </select>
</div>

<!-- Display the result cards -->
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="100px grid">
    <div
      fxFlex="25%"
      fxFlex.xs="100%"  
      fxFlex.sm="33%" *ngFor="let r of mealSelectionData.resultsList; let i = index">
          <mat-card class="mat-elevation-z4" style="background-color: aliceblue;">
          <img mat-card-image src="{{r.image}}"/>
          <mat-card-content>
          <p>{{r.title}}</p>
        </mat-card-content>
        <p>Ready In: {{mealSelectionData.recipes[i].readyInMinutes}} minutes</p>
        <mat-card-actions>
          <span style="margin:auto">
            <button mat-raised-button (click)="selectRecipe(r)"
            class="buttons" style= "background-color:blue; color:white"> View Recipe </button>
          </span>


          <span style="margin-left:10px; margin-right:auto" *ngIf="loggedIn">
            <button mat-raised-button (click)="favoriteRecipe(r)" *ngIf="!checkFavorite(r.primary_key_id)"
            class="buttons" style= "background-color:green; color:white"> Save For Later </button>
            <p *ngIf="checkFavorite(r.primary_key_id)" style="margin:0px">⭐</p>
          </span>
          </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

