<h1>{{currentRecipe.title}}</h1>
<div class="rowRecipe">
    <div class="columnRecipe">
        <img src="{{currentRecipe.image}}">    
        <p>Ready in: {{currentRecipe.readyInMinutes}} minutes!</p>

        <h2>Cooking Instructions</h2>
        <div class="text_box_list" *ngFor="let s of currentRecipe.analyzedInstructions[0].steps; let i = index">
            <p>Step{{i+1}}: {{s.step}}</p>
            <br/>
        </div>
    </div>
    

    <div class="columnRecipe">
        <div>
            <h2>Ingredients</h2>
            <div class="text_box_list" *ngFor="let ingredient of currentRecipe.extendedIngredients; let i = index;">
                <div class="rowRecipe">
                    <div class="columnRecipe" style="text-align: center; margin-top: auto; margin-bottom: auto;">
                        <p>Recipe calls for: {{ingredient.original}}</p> 
                        <p>Whole ingredient: {{ingredient.nameClean}}</p>
                        <button (click)="addToShoppingList(ingredient.nameClean!); shoppingListKrogerSearch(ingredient.nameClean!)"
                        *ngIf="!checkShoppingList(ingredient.nameClean!)">Add➕to📃List</button>
                    </div>    
                    
                    <div class="columnRecipe">
                        <img style="object-fit: cover; width:350px; height:350px; background-color: white;" src="https://spoonacular.com/cdn/ingredients_500x500/{{ingredient.image}}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="columnRecipe" *ngIf="currentRecipe.analyzedInstructions[0].steps[0].equipment.length != 0">
        <div>
            <h2>Equipment</h2>
            <div *ngFor="let a of currentRecipe.analyzedInstructions">
                <div *ngFor="let b of a.steps">
                    <div class="text_box_list" *ngFor="let equipment of b.equipment">
                        <div class="rowRecipe">
                            <div class="columnRecipe" style="text-align: center; margin-top: auto; margin-bottom: auto;">
                                <p>{{equipment.name}}</p>
                            </div>
                            <div class="columnRecipe">
                                <img style="object-fit: cover; width:350px; height:350px; background-color: white;" src="https://spoonacular.com/cdn/equipment_500x500/{{equipment.image}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>