<h1>{{currentRecipe.title}}</h1>
<div class="row">
    <div class="column">

        
        <img src="{{currentRecipe.image}}">    
        <div *ngIf="currentRecipe.cookingMinutes != -1">
            <p>Prep time: {{currentRecipe.preparationMinutes}}</p>
            <p>Cook time: {{currentRecipe.cookingMinutes}}</p>
        </div>
        <div>
            <p>Ready in: {{currentRecipe.readyInMinutes}} minutes!</p>
        </div>


        
        <h2>Cooking Instructions</h2>
        <div class="text_box_list" *ngFor="let s of currentRecipe.analyzedInstructions[0].steps; let i = index">
            <p>Step{{i+1}}: {{s.step}}</p>
            <br/>
        </div>
        
        
        <p>Recipe PK: {{currentRecipe.primary_key_id}}</p>
        <p>Recipe id: {{currentRecipe.id}}</p>
        
    </div>
    

    <div class="column">
        <button *ngIf="!showIngredients" (click)="toggleIngredients()">Show Ingredients</button>
        <button *ngIf="showIngredients" (click)="toggleIngredients()">Hide Ingredients</button>
        <div *ngIf="showIngredients">
            <h2>Ingredients</h2>
            <div class="text_box_list" *ngFor="let ingredient of currentRecipe.extendedIngredients; let i = index">
                <p>{{ingredient.original}}</p> 
            </div>
        </div>
    </div>



</div>